extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-sm-4
        .panel
          .panel-body
            h3 Simple
            p Just a few lines of code to add comments to your website
            a.btn.btn-default(href='#', role='button') View details
      .col-sm-4
        .panel
          .panel-body
            h3 Open Source
            p You can contribute any features you wish to have, or even host it yourself!
            a.btn.btn-default(href='#', role='button') View details
      .col-sm-4
        .panel
          .panel-body
            h3 No Walled Gardens
            p You can export your messages into a portable format in seconds.
            a.btn.btn-default(href='#', role='button') View details
